* {margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }


#board { padding: 0px; margin: 0 auto; margin-top: 15px; }
#board tr td { border: 1px solid #1c1c1c; 
							 font-family: Helvetica; text-align: center;}
#board tr td:hover { background: #e4e4e4; cursor: pointer; }

